<header>
    <nav>
        <a href="/">The Show</a>
        <ul>
            <li><a href="/nominees">Nominee</a></li>
            <li><a href="/nominees/new">New Nominee</a></li>

        </ul>
    </nav>
</header>