<label>name</label> 
<input type="text" name="name" <%="nominee.name" %>/>
<label>genre</label>
<input type="text" name="genre" <%="nominee.genre" %>/>
<label>Votes</label>
<input type="number" name="votes" <%="nominee.votes" %>/>
